﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
 @font-face {
 	font-family:"Federal Service Light Condensed Italic";
 	src:url("fedservicelightcondital.eot?") format("eot"),
 	url("fedservicelightcondital.woff") format("woff"),
 	url("fedservicelightcondital.ttf") format("truetype"),
 	url("fedservicelightcondital.svg#FederalServiceLightCondensedItalic") format("svg");
 	font-weight:normal;font-style:normal;
 }